.Contact {
  color: $gray-text-light;
  max-width: $max-width;
  margin: 0 auto;

  &-breadcrumb {
    @extend .breadcrumb;
  }

  &-breadcrumb-item {
    @extend .breadcrumb-item;

    &.active {
      color: $gray-text;
    }
  }

  &-title {
    font-size: 32px;
    color: $orange;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1;
  }

  &-description {
    color: $gray-text-light;
  }

  &-boxes {
    @include make-row();
    margin: 30px 0 0 0;
  }

  &-box {
    @include make-col(6);
    color: $black;
    padding-right: 20px;

    &--right {
      padding-left: 20px;
      padding-right: 0;
    }

    @media screen and (max-width: 34em) {
      @include make-col(12);
      order: 12;

      &, &--right {
        padding: 0;
        margin-top: 20px;
      }

      &--right {
        order: 1;
      }
    }
  }

  &-boxTitle {
    color: $orange;
    text-transform: uppercase;
    border-bottom: 6px solid $black;
    line-height: 1.5;
    font-size: 24px;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }

  &-socials {
    margin-top: 22px;
  }

  &-socialContainer {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    background: $gray-text;
    padding: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:hover {
      background: $black;
    }
  }

  &-input {
    @extend .form-control;
    margin-bottom: 10px;
    display: inline-block;

    &--half {
      width: 49%;
    }

    &--halfNoMargin {
      float: right;
    }

    &--textarea {
      height: 110px;
    }
  }

  &-button {
    @extend .btn;
    @extend .btn-primary;
    text-transform: uppercase;
    font-size: $font-size-base * .8;
  }
}