.Header {
  background: $orange;
  color: $dark-orange;
  height: $header-height;
  line-height: $header-height;
  font-family: $roboto-condensed;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;

  &-container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }

  &-phone,
  &-action--signup {
    color: $white;
  }

  &-phone {
    display: inline-block;
    margin-left: 10px;
  }

  &-phoneContainer {
    display: inline-block;
  }

  &-actions {
    float: right;
  }

  &-action {
    &, &:hover, &:active {
      color: $dark-orange;
    }

    &--signup {
      margin-left: 10px;

      &, &:hover, &:active {
        color: $white;
      }
    }
  }
}