.Menu {
  height: $menu-height;
  line-height: $menu-height;
  background: $gray;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;

  &-container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }

  &-logoContainer {
    font-size: 40px;
    float: left;
    text-transform: uppercase;
  }

  &-logo {
    color: $orange;
  }

  &-options {
    font-family: $roboto;
    padding-left: 0;
    float: right;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;

    @media screen and (max-width: 710px) {
      display: none;
    }

    & & {
      display: none;
      position: absolute;
      top: calc(100% + 20px);
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      box-sizing: border-box;
      font-weight: 100;
      padding: 15px 0;
      border: 1px solid black;
      background: white;
    }

    & & & {
      top: -20px;
      left: 100%;
      transform: none;
    }
  }

  &-option {
    display: inline-block;
    margin-right: 25px;
    line-height: 2;
    cursor: pointer;
    position: relative;

    &--submenu {
      position: relative;
      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 20px;
        position: absolute;
        top: 99%;
        left: 0;
      }
    }

    &:hover {
      font-weight: bold;
      border-bottom: 3px solid $orange;

      > .Menu-options {
        display: block;
      }
    }

    & &, & &:last-child {
      margin-right: 0;
      width: 100%;
      padding: 0 15px;

      &:hover {
        border-bottom: none;
      }
    }

    &:last-child {
      margin-right: 50px;

      @media screen and (max-width: 780px) {
        margin-right: 0;
      }
    }

  }
}