$max-width: 970px;
$header-height: 35px;
$menu-height: 110px;

$white: #ffffff;
$gray: #F9F9F9;
$gray-text-light: #A9A9A9;
$gray-text: #6A6A6A;
$black: #313131;
$orange: #FF5700;
$dark-orange: #B92F00;

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

// Bootstrap overrides
// Breadcrumb
$breadcrumb-bg: $white;
$breadcrumb-item-padding: 4px;
$breadcrumb-divider-color: $gray-text-light;
$breadcrumb-margin-bottom: 45px;
$breadcrumb-padding-x: 0;

// Form
$enable-rounded: false;
$input-border-color: #ECEBEC;
$input-bg: #F5F5F5;
$input-padding-y: 5px;
$input-color: $gray-text;
$input-placeholder-color: #838383;
$primary: $orange;
$btn-padding-x: 20px;
$font-size-base: 1rem;