@import 'variables';
@import 'bootstrap';
@import 'layout';
@import 'fonts';
@import 'header';
@import 'menu';
@import 'contact';

body {
  margin: 0 auto;
  font-family: $lato;
  padding-top: $menu-height + $header-height + 10px;
  color: $black;
}